*{
    margin: 0;
    padding: 0;
}
.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    height: 74px;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-size: 20px;
    display: flex;
}
.nav-left span{
    font-size: 35px;
    transition: background 0.5s, transform 0.5s;
}
.nav-left span:hover {
    transform: translateY(-10px);
}
.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 22px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    position: relative;
    transition: background 0.5s, transform 0.5s;
}
.nav-left ul li:hover{
    color: white;
    transform: translateY(-10px);
    font-weight: bolder;
}
.nav-left ul li a {
    text-decoration: none;
    color: black;
}
.content {
    height: 395px;
    display: flex;
    padding: 9px;
    position: relative;
}
.content::after{
    content: "";
    background-image: url('../img/homei.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.2;
}
.content-left{
    font-family: var(--font2);
    font-weight: bolder;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* z-index: 1; */
}
.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
    height: 255px;
    border: 2px solid black;
    border-radius: 50%;
}
.home-articles {
    padding-top: 12px; 
    /* background-color: red; */

}
.home-article{
    display: flex;
    margin: 25px;
}
.home-article img{
    margin-top: 25px;
    width: 300px;
    transition: background 0.5s, transform 0.5s;
}
.home-article img:hover{
    transform: translateY(-10px);
}
.home-article-content{
    align-self: center;
    padding: 30px;
}

/* .home-articles{} */

.footer {
    height: 50px;
    background-color: #bd6418;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/* ------------------------------------------------------------------------------------------------------------- */
.tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}
/* .tab-contents ul li span{ */
    /* color: #b54769; */
    /* font-size: 14px; */
/* } */
.tab-contents{
    display: none;

}
.tab-contents.active-tab{
    display: block;
}